* {
    box-sizing: border-box;
  }
  #container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  form fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }

  legend {
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label.reg {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group p {
    margin: 0;
    margin-bottom: 5px;
  }

  label input[type="radio"],
  label input[type="checkbox"] {
    margin-right: 5px;
  }

  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  #confirmation {
    display: none;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }

  #confirmation h2 {
    margin-top: 0;
  }

  #confirmation ul {
    list-style: none;
    padding-left: 20px;
  }